.btn-custom1 {
    display: inline-block;  
    background-color: var(--accent-color);
    color: #fff !important;
    padding: 10px 20px !important;
    border-radius: 4px;
    text-decoration: none;  
    outline: none;
    border: none;
    transition: all 0.2s ease;
    font-weight: 500 !important;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-custom1:hover {
    filter: brightness(0.9);
    color: #fff;  
    text-decoration: none;
}

.rounded-circle {
    background-color: #00000014 !important;
    outline: solid var(--accent-color) 0.1px;
}


.section .icon-box {
  /* background-color: var(--surface-color); */
  border-radius: 10px;
  text-align: center;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  /* border: 2px solid color-mix(in srgb, var(--default-color), transparent 90%); */
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 75%);
}

.section .icon-box i {
  color: var(--accent-color);
  margin-bottom: 30px;
  font-size: 32px;
  margin-bottom: 30px;
  background: color-mix(in srgb, var(--accent-color), transparent 95%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  transition: 0.3s;
}

.section .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.section .icon-box p {
  font-size: 15px;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}

.section .icon-box:hover {
  color: var(--contrast-color);
  background-color: color-mix(in srgb, var(--accent-color), transparent 75%);
  cursor: pointer;
}

.bg-1 {
    background-color: #f7fbfe !important;
} 

.conference-day {
    background: linear-gradient(45deg, var(--accent-color), color-mix(in srgb, var(--accent-color), transparent 20%)) !important;
}

.event-schedule {
  background-image: url("../img/contact-bg.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #00000003;
  position: relative;
}

@media (max-width: 640px) {
  .event-schedule {
    background-position: center 50px;
    background-size: contain;
  }
}
 
